*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 75px;
    background-color: rgb(5, 5, 101);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
   
    
    box-shadow: 0 3px 3px black;
    display: flex;
    z-index: 1000;
   
    

}
.container h1{
    color: rgb(24, 199, 231);
    padding-left: 20px;
    text-shadow: 0 3px 2px rgb(128, 127, 127);
    margin: 15px;
}
.container img{
    
    width: 75px;
    height: 75px;
}

.container button{
    position: absolute; /* Position the button absolutely */
    top: 50%; /* Adjust top to center it vertically */
    right: 15px; /* Adjust right to position it at the top-right corner */
    transform: translateY(-50%); /* Center it vertically */
    
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(48, 146, 227);
    transition: 0.5s;
    
}
.container button:hover{
    background-color: aqua;
    cursor: pointer;
    color: black;
    
}